<ion-view view-title="Search">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">line</span>
        <select ng-options="line.name for line in searchCtrl.lines" ng-model="searchCtrl.selectedLine">
          <!-- <option></option> -->
          <!-- <option selected>Green</option>
          <option>Red</option> -->
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">station</span>
        <select ng-options="station.name for station in searchCtrl.selectedLine.stations track by station.id" ng-model="searchCtrl.selectedStation" ng-init="searchCtl.selectedLine.stations[0].name">
        </select>
      </label>
    </div>
  </ion-content>
</ion-view>
