<ion-tabs class="tabs-icon-top tabs-assertive">

  <!-- List Tab -->
  <ion-tab title="Favorites" icon-off="fa fa-search" icon-on="fa fa-search"
    ui-sref="main.list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Search" icon-off="fa fa-star" icon-on="fa fa-star-o"
    ui-sref="main.search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Debug Tab -->
  <!-- <ion-tab title="Debug" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear"
    ui-sref="main.debug">
    <ion-nav-view name="tab-debug"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>
